@media (max-width: 1580px) {
    body {
      background-color:rgb(251, 251, 251);
      
    
    }


}


@media (max-width: 1080px) 
  {
    body {
      background-color: rgb(127, 180, 180);

    }
}


@media (max-width: 580px) {
    body {
      background-color:lightcyan;
    
    }

}

/*-----------------------------------------------------------------------------------------------------------------------*/

.mainGameScreen
{
  border: solid black;
  height: 75vh;
  margin: 1em;
  background-image: url(https://images3.alphacoders.com/620/620934.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;

}

.spaceShip
{
    border: solid red;
    height: 50vh;
    width: 20vh;
    margin-top: 30px;
}

.alian
{
    border: solid rgb(91, 28, 224);
    height: 50vh;
    width: 20vh; 
    margin-top: 30px;
}